.pokemon-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5rem;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.pokemon-container:hover {
  background: conic-gradient(red 0deg 90deg, white 90deg 270deg, red 270deg);
}

.pokedex_id {
  align-self: start;
  margin-left: 1rem !important;
}

a {
  text-decoration: none;
  margin: auto;
}

